/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}



/* Universal Styles */
body {
    background-color: #1B262C;
    color: #BBE1FA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
}





/* Initial visibility settings */
nav,
main,
footer {
    display: none;
}


/* Name & slogan */
.nameAndSlogan {
    cursor: pointer;
    text-align: center;
    padding: 20px 40px;
    font-family: 'Chakra Petch', monospace;
    animation: fadeIn 2.5s ease-in-out;
    border: 10px solid #3282B8;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: height 0.6s, width 0.6s, background-color 0.6s, color 0s;
}


#name {
    /* font-size: 8rem; */
    font-size: 14vh;
    transition: 0.6s;
}


#slogan {
    /* font-size: 4rem; */
    font-size: 7vh;
    transition: 0.6s;
}


/* Border animation */
.nameAndSlogan::before,
.nameAndSlogan::after {
    position: absolute;
    background: #1B262C;
    z-index: -1;
    transition: 0.6s;
    content: '';
}


.nameAndSlogan::before {
    height: 40vh;
    width: 74.5vw;
}


.nameAndSlogan::after {
    height: 30vh;
    width: 80vw;

}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.nameAndSlogan:hover::before {
    width: 0px;

}


.nameAndSlogan:hover::after {
    height: 0px;

}


.nameAndSlogan:hover {
    color: #FFD460;
}





/* INTERACTIONS */

/* New class to apply after click */
.headerClicked::before,
.headerClicked::after,
.headerClicked::before,
.headerClicked::after {
    display: none;

}

.headerClicked:hover {
    color: inherit;
    cursor: default;
}





/* BRANCHING */
.headerBranchVertical {
    position: absolute;
    top: 14vh;
    /* The line starts on the border of nameAndSlogan */
    left: 50%;
    /* Center the line horizontally */
    height: 0;
    width: 10px;
    background-color: #3282B8;
    border-radius: 10px;
    transition: transform 0.5s 0.5s, height 0.5s 0.5s;
    z-index: -1;
}

.animateHeaderVerticalLine {
    height: 50px;
    /* final height */
}





/* ANIMATIONS */

/* FadeIn Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}