/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Universal Styles */
body {
    background-color: #1B262C;
    color: #BBE1FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
}

/* Initial visibility settings */
section,
footer {
    display: none;
}



/* Header */
.nameAndSlogan {
    cursor: pointer;
    text-align: center;
    padding: 1.905vw 1.190vw 1.905vw 1.190vw;
    font-family: 'Chakra Petch', monospace;
    animation: fadeIn 0.75s ease-in-out;
    border: 1vh solid #3282B8;
    border-radius: 1vh;
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: height 0.8s ease-in, width 0.8s ease-in, background-color 0.8s ease-in, color 0s;
}

.name {
    font-size: 14vh;
    transition: font-size 0.8s ease-in;
}

.slogan {
    font-size: 7vh;
    transition: font-size 0.8s ease-in;
}

/* Header Border animation */
.nameAndSlogan::before,
.nameAndSlogan::after {
    position: absolute;
    background: #1B262C;
    z-index: -1;
    transition: 0.75s;
    content: '';
}

.nameAndSlogan::before {
    height: 40vh;
    width: 74.5vw;
}

.nameAndSlogan::after {
    height: 30vh;
    width: 80vw;

}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nameAndSlogan:hover::before {
    width: 0vw;

}

.nameAndSlogan:hover::after {
    height: 0vh;

}

.nameAndSlogan:hover {
    color: #FFD460;
}



/* Header shrinking animation */
.headerClicked {
    height: 13vh;
    width: 24.5vw;
    padding-bottom: 2.143vw;
    background-color: #BBE1FA;
    color: #1B262C;
    position: absolute;
    top: 3vh;
    left: 50vw;
    transform: translateX(-50%);
}

.myNameAnimated {
    font-size: 3.8vh;
}

.mySloganAnimated {
    font-size: 2.2vh;
}

.headerClicked::before,
.headerClicked::after,
.headerClicked::before,
.headerClicked::after {
    display: none;

}

.headerClicked:hover {
    color: #1B262C;
    cursor: default;
}


/* BRANCHING */
/* Header to navbar */
.headerBranchVertical {
    position: absolute;
    top: 15vh;
    left: calc(50vw - (0.595vw / 2));
    height: 4.9vh;
    width: 0.595vw;
    background-color: #3282B8;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s 0.75s;
    /* Set timings and delays for drawing line */
    z-index: -1;
}

.animateHeaderVerticalLine {
    transform: scaleY(1);
}

.headerBranchHorizontal {
    position: absolute;
    top: 19vh;
    left: 10vw;
    /* Center the line horizontally (offsets the remaining 20vw available) */
    height: 0.952vh;
    width: 80vw;
    background-color: #3282B8;
    border-radius: 1vh;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.75s 1.25s;
    z-index: -1;
}

.animateHeaderHorizontalLine {
    transform: scaleX(1);
}

.subBranch {
    position: absolute;
    top: 19vh;
    height: 4.9vh;
    width: 0.595vw;
    background-color: #3282B8;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s 2s;
    z-index: -1;
}

#subBranchAbout {
    left: 9.75vw;
}

#subBranchSkills {
    left: 25.75vw;
}

#subBranchProjects {
    left: 41.75vw;
}

#subBranchProfessionalExperience {
    left: 57.75vw;
}

#subBranchEducation {
    left: 73.75vw;
}

#subBranchContacts {
    left: 89.75vw;
}

.animateSubBranch {
    transform: scaleY(1);
}



/* Navbar */
nav {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.75s ease-out, visibility 0.75s ease-out;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
}

.navElement {
    position: absolute;
    top: 23vh;
    height: 10vh;
    width: 12.5vw;
    background-color: inherit;
    color: inherit;
    border: 1vh solid #3282B8;
    border-radius: 1vh;
    font-family: 'Chakra Petch', monospace;
    font-weight: bold;
    font-size: 3vh;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.navElement:hover {
    color: #FFD460;
}

/* Navbar border animation */
.navElement::after {
    position: absolute;
    background: #1B262C;
    z-index: -1;
    transition: 0.5s ease-in;
    content: '';
}

.navElement::after {
    height: 5vh;
    width: 15vw;

}

.navElement:hover::after {
    height: 0vh;

}

/* Navbar elements positions */
#about {
    left: 3.75vw;
}

#skills {
    left: 19.75vw;
}

#projects {
    left: 35.75vw;
}

#professionalExperience {
    left: 51.75vw;
}

#education {
    left: 67.75vw;
}

#contacts {
    left: 83.75vw;
}



/* Nav to Text */
.navClicked::after {
    display: none;
}

.navClicked:hover {
    color: #1B262C;
    cursor: default;
}

.navClicked {
    color: #1B262C;
    background-color: #BBE1FA;
}



/* Content in <section id="...Main"> available and default styling */
#aboutMain,
#skillsMain,
#projectsMain,
#professionalExperienceMain,
#educationMain,
#contactsMain {
    display: flex;
    align-content: center;
    justify-content: center;
}

#aboutText,
#skillsText,
#projectsText,
#professionalExperienceText,
#educationText,
#contactsText {
    display: none;
}

#aboutMain h4,
#skillsMain h4,
#projectsMain h4,
#professionalExperienceMain h4,
#educationMain h4,
#contactsMain h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 1.3vh;
}

#skillsMain h4 {
    text-decoration: underline;
    font-weight: 900;
    margin-top: 0.714vh;
    margin-bottom: 0.476vh;
}

#technical h4 {
    margin-top: 0vh;
}

#aboutMain a,
#skillsMain a,
#projectsMain a,
#professionalExperienceMain a,
#educationMain a,
#contactsMain a {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.3vh;
    color: #205C85;
}

#aboutMain a:hover,
#skillsMain a:hover,
#projectsMain a:hover,
#professionalExperienceMain a:hover,
#educationMain a:hover,
#contactsMain a:hover {
    color: #58A3D7;
}

#aboutMain ul,
#skillsMain ul,
#projectsMain ul,
#professionalExperienceMain ul,
#educationMain ul,
#contactsMain ul {
    list-style: disc;
}

#aboutMain li,
#skillsMain li,
#projectsMain li,
#professionalExperienceMain li,
#educationMain li,
#contactsMain li {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3vh;
    padding-top: 0.952vh;
}

#professionalExperienceMain li {
    padding-top: 1.429vh;
}

#educationMain li {
    padding-top: 1.905vh;
}

#aboutMain li:first-child,
#skillsMain li:first-child,
#projectsMain li:first-child,
#professionalExperienceMain li:first-child,
#educationMain li:first-child,
#contactsMain li:first-child {
    padding-top: 0vh;
}


#professionalExperienceMain ul:first-child,
#educationMain ul:first-child {
    padding-top: 0vh;
}



/* Branch and Border Animation for KeyPoints"> */
.aboutBranch,
.skillsBranch,
.projectsBranch,
.professionalExperienceBranch,
.educationBranch,
.contactsBranch {
    position: absolute;
    top: 32.5vh;
    left: 10vw;
    height: 3vh;
    width: 0.595vw;
    background-color: #3282B8;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s 0.25s;
    z-index: -1;
}

.aboutBranchAnimated,
.skillsBranchAnimated,
.projectsBranchAnimated,
.professionalExperienceBranchAnimated,
.educationBranchAnimated,
.contactsBranchAnimated {
    transform: scaleY(1);
}

.aboutBorderTop,
.skillsBorderTop,
.projectsBorderTop,
.professionalExperienceBorderTop,
.educationBorderTop,
.contactsBorderTop {
    position: absolute;
    top: 35.5vh;
    left: 3.75vw;
    height: 0.952vh;
    width: 12.5vw;
    background-color: #3282B8;
    border-radius: 1vh;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s 0.75s;
    z-index: 1;
}

.aboutBorderTopAnimated,
.skillsBorderTopAnimated,
.projectsBorderTopAnimated,
.professionalExperienceBorderTopAnimated,
.educationBorderTopAnimated,
.contactsBorderTopAnimated {
    transform: scaleX(1);
}

.aboutBorderLeft,
.skillsBorderLeft,
.projectsBorderLeft,
.professionalExperienceBorderLeft,
.educationBorderLeft,
.contactsBorderLeft {
    position: absolute;
    top: 35.5vh;
    left: 3.75vw;
    height: 49.5vh;
    width: 0.595vw;
    background-color: #3282B8;
    border-radius: 1vh;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.75s 1.25s;
    z-index: 1;
}

.aboutBorderRight,
.skillsBorderRight,
.projectsBorderRight,
.professionalExperienceBorderRight,
.educationBorderRight,
.contactsBorderRight {
    position: absolute;
    top: 35.5vh;
    left: calc(16.25vw - 0.595vw);
    height: 49.5vh;
    width: 0.595vw;
    background-color: #3282B8;
    border-radius: 1vh;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.75s 1.25s;
    z-index: 1;
}

.aboutBorderLeftAnimated,
.aboutBorderRightAnimated,
.skillsBorderLeftAnimated,
.skillsBorderRightAnimated,
.projectsBorderLeftAnimated,
.projectsBorderRightAnimated,
.professionalExperienceBorderLeftAnimated,
.professionalExperienceBorderRightAnimated,
.educationBorderLeftAnimated,
.educationBorderRightAnimated,
.contactsBorderLeftAnimated,
.contactsBorderRightAnimated {
    transform: scaleY(1);
}

.aboutBorderBottomLeft,
.skillsBorderBottomLeft,
.projectsBorderBottomLeft,
.professionalExperienceBorderBottomLeft,
.educationBorderBottomLeft,
.contactsBorderBottomLeft {
    position: absolute;
    top: calc(85vh - 0.952vh);
    left: 3.75vw;
    height: 0.952vh;
    width: 6.5vw;
    background-color: #3282B8;
    border-radius: 1vh;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s 2s;
    z-index: 1;
}

.aboutBorderBottomRight,
.skillsBorderBottomRight,
.projectsBorderBottomRight,
.professionalExperienceBorderBottomRight,
.educationBorderBottomRight,
.contactsBorderBottomRight {
    position: absolute;
    top: calc(85vh - 0.952vh);
    left: calc(3.75vw + 6vw);
    height: 0.952vh;
    width: 6.5vw;
    background-color: #3282B8;
    border-radius: 1vh;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s 2s;
    z-index: 1;
}

.aboutBorderBottomLeftAnimated,
.aboutBorderBottomRightAnimated,
.skillsBorderBottomLeftAnimated,
.skillsBorderBottomRightAnimated,
.projectsBorderBottomLeftAnimated,
.projectsBorderBottomRightAnimated,
.professionalExperienceBorderBottomLeftAnimated,
.professionalExperienceBorderBottomRightAnimated,
.educationBorderBottomLeftAnimated,
.educationBorderBottomRightAnimated,
.contactsBorderBottomLeftAnimated,
.contactsBorderBottomRightAnimated {
    transform: scaleX(1);
}

/* KeyPoints */
#aboutKeyPoints,
#skillsKeyPoints,
#projectsKeyPoints,
#professionalExperienceKeyPoints,
#educationKeyPoints,
#contactsKeyPoints {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 35.5vh;
    left: 3.75vw;
    height: 49.5vh;
    width: 12.5vw;
    color: #1B262C;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vh;
    z-index: 0;
    transition: opacity 2.5s ease-in, visibility 2.5s ease-in;
}



/* Skills */
#technical,
#soft {
    padding-bottom: 2.857vh;
}

.bold {
    font-weight: bold;
    font-size: 1.3vh;
}



/* Contacts */
#contactsKeyPoints {
    text-align: center;
}

#contactsKeyPoints img {
    height: auto;
    width: 2.976vw;
}

#sendEmail {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

#socialLinks {
    margin-top: 4vh;
}

#gitHubLogo {
    margin-right: 1.786vw;
}



/* Footer */
footer {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #BBE1FA;
    transition: visibility 2.5s ease-out, opacity 2.5s ease-out;
}

footer p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5vh;
}


/* ANIMATIONS */
/* FadeIn Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}